@charset "UTF-8";
html{
    font-size: 12px;
    font-family: serif;
}
h1{
    font-size: 1.7em;
}
h1 span{
    font-size: 0.6em;
}
h2{
    width: 100%;
    margin-bottom: 50px;
    font-size: clamp(1.5em, 6vw, 2.5em);
    text-align: center;
}
.inare{
    padding: 70px 0;
    margin: 0 20px;
    max-width: 1000px;
}
p+p{
    margin-top: 15px;
}
/* ヘッダー */
header{
    width: 100%;
    padding: 30px;
    text-align: center;
}
header img{
    width: 100%;
    margin: 50px 0;
}
.toho{
    padding: 15px 0;
    background-color: #e5e5eb;
}
.KV{
    width: 100;
    height: 300px;
    background: url(../img/mainvisual.jpg) center center no-repeat;
    background-size: 120%;
}
/* 診療時間 */
.zikan{
    background: linear-gradient(to right, rgba(245,253,255,1), rgba(223,237,241,1));
}
table{
    width: 100%;
    border: 1px solid #e5e5eb;
    border-collapse: collapse;
    background-color: #fff;
}
th{
    width: 80px;
    text-align: right;
}
td{
    text-align: center;
    vertical-align: middle;
}
th,td{
    padding: 10px;
    border: 1px solid #e5e5eb;
}
.zikan p{
    margin-top: 15px;
}
/* 感染防止対策について */
/* 当院の特徴 */
.tokutyou{
    background: url(../img/bg_room.jpg) calc(100% - 20%) center no-repeat;
    background-size: auto 100%;
    background-clip: content-box;
    overflow: hidden;
}
h3{
    color: blue;
    border-bottom: 3px solid #bbcdee;
    font-size: 1.3em;
    display: inline-block;
}
.tokutyou section{
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #e5e5eb;
}
.tokutyou li+li{
    margin-top: 20px;
}
.tokutyou h3+p{
    margin-top: 20px;
}
/* お問い合わせ */
.soudan{
    background: linear-gradient(to right, rgba(245,253,255,1), rgba(223,237,241,1));
}
.contact{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.contact button{
    padding: 10px 90px;
    border: 1px solid #2268bc;
    border-radius: 30px;
    color: blue;
    background-color: #fff;
}
.contact button:hover{
    background-color: #bbcdee;
}